.new_chat_button > i {
    color: green;
    font-weight: 600;
    margin: auto 0;
}

.button {
    border: none;
    background: white;
    color: #177f4e;
    font-weight: 400;
    padding: 20px 20px;
    margin: auto;
    border-radius: 0.25rem;
    width: 100%;
    display: flex;
    justify-content: left;
}

.new_chat_button {
    border-bottom: 1px solid #187f4e;
    border-radius: 0;
    padding: 10px 20px;
}

.button_text{
    color: green;
    font-weight: 500;
    margin-left: 20px;
}