.chat-item {
    position: relative;
    border: none;
    background: white;
    color: #177f4e;
    font-weight: 600;
    padding: 10px 20px;
    margin: auto;
    border-radius: .25rem;
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}

.chat-item .left {
    cursor: pointer;
}

.chat-item .title {
    font-size: 1rem;
    font-weight: 500;
}

.chat-item .delete {
    position: absolute;
    right: 20px;
    display: flex;
    cursor: pointer;
    padding-top: 5px;
}

.chat-item .confirm {
    position: absolute;
    right: 20px;
    display: flex;
    cursor: pointer;
    padding-top: 5px;
}