.chat-container {
    height: 100vh;
}

.sidebar-container {
    background: #177f4e;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.sidebar-top {
    padding: 25px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.chat-tool-container {
    display: block;
    transform: translateX(0px);
    transition: .1s ease-out;
    background: white;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 15px;
}

.chat-box-container {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.stop-generating {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    top: calc(100dvh - 130px);
    z-index: 1000000;
}

#cancelButton {
    background: white;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 5px 10px;
    color: #333;
}

.chat-box {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

#placeholder_img {
    filter: brightness(0.95);
    width: 50%;
    transform: scale(1);
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: -100000;
}
        
.user-input {
    height: 50px;
    padding: 0 25px;
    margin-top: 25px;
    transition: .1s ease-out;
}

.input-box {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    padding: 10px 10px;
    border-radius: .25rem;
    box-shadow: 0px 0px 10px 1px #d7d4d4;
}

#message-input {
    white-space: pre-wrap;
    height: 30px;
    max-height: 191px;
    width: 100%;
    resize: none;
    background: none;
    border: none;
    outline: none;
    color: black;
    padding: 4px;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
}

textarea:placeholder-shown {
  border-color: black;
}

#send-button {
    margin: auto;
    color: black;
    background-color: white;
    border: none;
    border-radius: 0.25rem;
    transition: .1s ease-out;

}

.mode-selector-container {
    background: #187f4e;
    height: 50px;
    border-radius: 0.25rem;
    width: 40%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 25px;
}

.mode-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.mode-button {
    width: 32%;
    font-weight: 600;
    font-size: 1rem;
}

.mode-button.active {
    color: green;
    background-color: white;
}

.custom-popover {
    --bs-popover-max-width: 400px;
    --bs-popover-border-color: var(--bs-green);
    --bs-popover-header-bg: var(--bs-white);
    --bs-popover-header-color: var(--bs-black);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-arrow-width: 0px;
    --bs-popover-arrow-height: 0px;
}

.custom-popover > .popover-header {
    border-bottom: 0px;
}

@media (max-width: 767px) {
    .sidebar-container {
        border-top: 1px solid white;
        height: calc(100% - 50px);
        top: 50px;
        position: absolute;
    }

    .chat-tool-container {
        display: none;
    }

    .chat-box {
        height: calc(100% - 100px);
        min-height: calc(100% - 311px);
    }
}