.message-item {
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    padding-bottom: 0;
    background: white;
}

.message-item.ecobot {
    background-color: #f2f2f2;
}

.message-item > .role {
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;
    margin: 15px 25px;
}

.message-item .role img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
    outline: 1px solid var(--blur-border);
    background: #177f4e;
    margin-top: 1px;
}

.message-item > .content {
    display: flex;
    align-items: flex-start;
    color: #333;
    padding: 25px 25px 25px 0px;
    user-select: text;
    flex-direction: column;
    margin: 0;
}

.message-item .content p {
    font-size: 15px;
    margin: 0;
}