select,
textarea {
    border: 1px solid #0f0f10;
    border-radius: .25rem;
    box-shadow: none;
    line-height: normal;
    padding: .75rem;
    width: 100%
}

img,
video {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

#demo_question_text {
    height: 58px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: calc(100% - 68px);
    resize: none;
    outline: #157f4e;
    padding: 1rem 0.75rem;
}

#demo_question_button {
    height: 58px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 58px;
    margin: auto;
    background: #157f4e;
    border: 0px;
    border-radius: 0.25rem;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.u-text-mark {
    position: relative;
    z-index: 1
}

.u-text-mark:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 236 16' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.8 8.3 16.8-.6L35 7.1l15-.7c2.2-.1 4.5-.3 6.8-.3l10-.2h5.5l10.3.2 15.4.6L129.5 8l15.5.8 15.4.7c9.7.4 19.4.7 29 1.3l8 .5 8.9.7 7.7.7 3.2.3 3.7.5 5.2.6 6.6 1.2.6.1a2.3 2.3 0 0 0 2.3-1.6c.2-.6.1-1.3-.2-1.9-.2-.4-.8-1-1.3-1.1l-4.2-.8-4.2-.7A403.3 403.3 0 0 0 212 7.7a2.4 2.4 0 0 0 1-2.4c-.2-.6-.6-1.2-1-1.5l-1.1-.5a33 33 0 0 0-2.6-.4l-2-.3-3.8-.2L195 2l-15.5-.5-15.4-.3L156 1h-24.4L115.8.8C106.1.7 96.2.6 86.4.7H71.8c-5.2 0-10.4 0-15.6.2L45.9 1l-5.9.1-9.4.4-6.2.3c-7.4.5-14.7 1-22 1.7-.5.1-.8.3-1.1.6-.5.4-.8 1-.8 1.6 0 1.3 1 2.5 2.3 2.5' fill='%23177f4e' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -.1em;
    content: "";
    display: block;
    height: .3em;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1
}

.u-bg-accent {
    background-color: #187f30 !important;
    color: white;
}

.t-hp-integrations-section__vertical {
    height: 100vh;
    max-height: 53.125rem;
    overflow: hidden
}

.t-hp-integrations {
    animation: scrollUp linear infinite;
    animation-duration: 40s !important;
    transition-duration: 40s !important
}

.t-hp-integrations:hover {
    animation-play-state: paused
}

@keyframes scrollUp {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-40%)
    }
}

.t-hp-integrations-box {
    height: 9.25rem;
    width: 7.875rem
}

.t-hp-integrations-box > p{
    font-size: 0.75rem!important;
}

.t-hp-integrations-logo {
    max-height: 4rem;
    width: 4rem
}

@media (min-width:48rem) and (max-width:58.6875rem) {
    .t-hp-integrations-logo {
        width: 3.125rem
    }
}

@media (min-width:48rem) and (max-width:53.5rem) {
    .t-hp-integrations-box {
        width: 95%
    }
}

.t-hp-integrations-section__horyzontal > div {
    justify-content: flex-start;
    max-width: 100vw;
    overflow-x: scroll
}

.t-hp-integrations-section__horyzontal > div::-webkit-scrollbar {
    background: transparent;
    width: 0
}

.u-hover-lift {
    bottom: 0;
    left: 0;
    position: relative;
    transition: bottom .2s ease-in-out, left .2s ease-in-out, box-shadow .2s ease-in-out
}

.u-hover-lift:hover {
    bottom: .25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    left: .125rem
}

.u-hover-pointer:hover {
    cursor: pointer
}

.u-w-fit {
    width: fit-content;
}


.c-faq__entry {
    height: -moz-min-content;
    height: min-content;
    transition: .3s
}

.c-faq__entry.v--focused {
    padding-bottom: 1rem
}

.c-faq__entry-question {
    cursor: pointer;
    line-height: 1.75rem
}

.c-faq__entry-question[aria-expanded=false]:after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.999 1 8 8 8-8' stroke='%23177f4e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    pointer-events: none;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    rotate: 0deg
}

.c-faq__entry-question[aria-expanded=true]:after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.999 1 8 8 8-8' stroke='%23177f4e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    pointer-events: none;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    rotate: -180deg
}

.c-faq__entry-answer {
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    transition: .3s;
    visibility: hidden
}

.c-faq__entry-question[aria-expanded=true] {
    font-weight: 500
}

.v--focused .c-faq__entry-answer {
    max-height: 500px;
    visibility: visible
}